@page "/colorbox"
@using DynamicCssPocApp.Shared
@using System.Net.Http.Json
@inject HttpClient Http

<div class="colorbox-container">
    <div class="colorbox">
    </div>
    <div class="colorbox-creator">
        <label>Height:</label>
        <input type="number" @bind-value="height" />
        <br />
        <label>Width:</label>
        <input type="number" @bind-value="width" />
        <br />
        <label>Color:</label>
        <input type="color" @bind-value="color" />
        <br />
        <button @onclick="@(async ()=> await Click())">Save</button>
    </div>

</div>



@code {
    public int height { get; set; }
    public int width { get; set; }
    public string color { get; set; } = "#000000";

    public async Task Click()
    {
        Console.WriteLine(color);

        var data = new ThemeData()
            {
                Color = color,
                Height = height + "px",
                Width = width + "px"
            };
        await Http.PostAsJsonAsync("/Theme", data);

        height = 0;
        width = 0;
        color = "#000000";
    }
}
